

.dna-container {
  position: relative;
  width: 160px;
  height: 80vh;
  transform: rotate(200deg);
  
}

.nucleotide-pair {
  position: absolute;
  width: 100%;
  animation: rotate 20s linear infinite;
}

.nucleotide {
  position: absolute;
  top: -40px;
  width: 15px;
  height: 22px;
  border-radius: 9999px;
  animation: pulse 3s ease-in-out infinite;
}

.nucleotide.left {
  left: 0;
}

.nucleotide.right {
  right: 0;
}

.backbone {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 84px;
  height: 3px;
    background: linear-gradient(
    90deg,
    rgba(247, 218, 90, 0.863) 0%,
    rgba(147, 197, 253, 0.55) 20%,
    rgba(255, 255, 255, 0.95) 50%,
    rgba(147, 197, 253, 0.55) 80%,
    rgba(96, 165, 250, 0.795) 100%
  );
  transform: translate(-50%, -50%);
}

.particle {
  position: absolute;
  background-color: rgba(144, 205, 244, 0.5);
  border-radius: 50%;
  opacity: 0.5;
}


@keyframes rotate {
  from {
    transform: rotateY(0deg);
  }
  to {
    transform: rotateY(360deg);
  }
}

@keyframes pulse {
  0%,
  100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
}

@keyframes float {
  0%,
  100% {
    transform: translate(0, 0);
  }
  50% {
    transform: translate(var(--tx), var(--ty));
  }
}

